<div class="header">
  <img class="logo" src="../../assets/img/avion.png" />
  <div class="searchFilter">
    <mat-form-field class="example-full-width">
      <mat-label>recherche par nom</mat-label>
      <input
        matInput
        type="text"
        name="search"
        [(ngModel)]="search"
        (keyup)="onSearchChange()" />
    </mat-form-field>
  </div>
  <!-- <div class="switchTheme">
     <button mat-button color="dark">
      <img
        src="https://img.icons8.com/ios-filled/50/000000/sun.png"
        (click)="switchTheme()" />
    </button> 
  </div> -->
  <div class="cart">
    <app-cart></app-cart>
  </div>
</div>
