<mat-card class="card">
  <mat-card-header class="card-header">
    <mat-card-title>
      {{ myProduct.title | uppercase }}
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="myProduct.imageUrl" width="100" />
  <mat-card-content>
    <p>{{ myProduct.description }}</p>
  </mat-card-content>

  <div class="sizes-btn-container">
    <button
      mat-raised-button
      class="sizes-btn"
      *ngFor="let size of myProduct.sizes"
      (click)="updateSelectedSize(size.taille, size.price)">
      {{ size.taille }}
    </button>
  </div>

  <div class="card-price" *ngIf="selectedSize">
    Le prix pour la taille {{ selectedSize }} est :
    {{ selectedPrice | currency : 'EUR' }}
  </div>

  <div class="card-price" *ngIf="selectedSize">
    <div *ngIf="selectedSize">
      <button mat-raised-button (click)="onAddToCart()">
        Ajouter au panier
      </button>
    </div>
  </div>

  <div class="card-footer">
    <div class="card-like">
      <button mat-raised-button (click)="onAddLike()">Like</button>
      <b [ngStyle]="{ color: myProduct.likes > 0 ? 'green' : 'red' }"
        >{{ myProduct.likes }} ❤️</b
      >
    </div>
    <div class="card-date">
      date d'ajout : {{ myProduct.date | date : 'mediumDate' }}
    </div>
  </div>
</mat-card>
