<main class="main">
  <div class="haeder">
    <app-header></app-header>
  </div>
  <div class="searchFilter">
    <mat-form-field class="example-full-width">
      <mat-label>recherche par nom</mat-label>
      <input
        matInput
        type="text"
        name="search"
        [(ngModel)]="search"
        (keyup)="searchProduct()" />
    </mat-form-field>
  </div>
  <div class="products-list">
    <app-product-card
      class="product-card"
      *ngFor="
        let product of products | sortByDate : order | searchProduct : search
      "
      [myProduct]="product"></app-product-card>
  </div>
  <button (click)="changerOrder()">trié par ordre {{ order }}</button>
  <div>{{ search }}</div>
</main>

<router-outlet></router-outlet>
