<div class="container">
  <h1 mat-dialog-title>Panier</h1>
  <div mat-dialog-content class="row-container">
    <div class="row" *ngFor="let cartItem of cartItems">
      <img [src]="cartItem.product.imageUrl" alt="product image" class="img" />
      <p>{{ cartItem.product.title }}</p>
      <p>quantité : {{ cartItem.quantity }}</p>
    </div>
    <p>total : {{ calculateTotal() | currency : 'EUR' }}</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Annuler</button>
  </div>
</div>
